@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/albatross-panopoly\/sites\/all\/themes\/at_reach_core\/sass\/global\.fields\.sass}line{font-family:\0000326}}
.field .field-label {
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  line-height: inherit;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/albatross-panopoly\/sites\/all\/themes\/at_reach_core\/sass\/global\.fields\.sass}line{font-family:\0000355}}
.field-type-taxonomy-term-reference {
  margin-bottom: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/albatross-panopoly\/sites\/all\/themes\/at_reach_core\/sass\/global\.fields\.sass}line{font-family:\0000361}}
.field-type-taxonomy-term-reference.field-label-inline .field-items {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/albatross-panopoly\/sites\/all\/themes\/at_reach_core\/sass\/global\.fields\.sass}line{font-family:\0000366}}
.field-type-taxonomy-term-reference.field-label-inline .field-item {
  display: inline;
  list-style: none;
  padding: 0 10px 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/albatross-panopoly\/sites\/all\/themes\/at_reach_core\/sass\/global\.fields\.sass}line{font-family:\00003156}}
.ia-l .field-type-image {
  margin: 0.5em 15px 1.5em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/albatross-panopoly\/sites\/all\/themes\/at_reach_core\/sass\/global\.fields\.sass}line{font-family:\00003161}}
.ia-c .field-type-image {
  margin: 0.5em auto 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/albatross-panopoly\/sites\/all\/themes\/at_reach_core\/sass\/global\.fields\.sass}line{font-family:\00003166}}
.ia-r .field-type-image {
  margin: 0.5em 0 1.5em 15px;
}
